.caro-slider {
  margin: 25px;
}

.slick-arr-left .card img {
  width: 20vw;
  height: 20vw;
  object-fit: cover;
}

.card-details {
  margin-top: 10px;
}

.card-details .title {
  font-size: 1.2vmax;
}

.card-details .body {
  font-size: 1.3vmax;
  font-weight: bold;
}

@media screen and (max-width: 750px) {
  .caro-slider {
    width: 70vw;
    margin-top: 20px;
  }

  .card img {
    height: 75vw;
    width: 75vw;
  }

  .card-details {
    text-align: center;
  }

  .card-details .title {
    font-size: 2vmax;
  }

  .card-details .body {
    font-size: 2.5vmax;
    font-weight: bolder;
  }
}
