.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  background-color: black;
}

.caro-slider {
  margin: 25px;
}

.card {
  height: 27vw;
  margin: 15px;
}

.card-image img {
  width: 17vw;
  height: 20vw;
  object-fit: cover;
}

.card-details .title {
  font-size: 1.4vmax;
}

.card-details .body {
  font-size: 1.7vmax;
  font-weight: bolder;
}

@media screen and (max-width: 750px) {
  .caro-slider {
    width: 70vw;
    margin-top: 20px;
  }

  .card {
    height: 90vw;
    display: flex;
  }

  .card-image img {
    height: 70vw;
    width: 65vw;
  }

  .card-details .title {
    font-size: 2vmax;
  }

  .card-details .body {
    font-size: 2.5vmax;
    font-weight: bolder;
  }
}
